* {
    margin: 0;
    padding: 0;
}

body {
    background: url(./images/bg-img.jpg);
    background-position: center;
    /* background-size: cover; */

}

.topbar {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.tags1 ul {
    text-decoration: none;
    list-style: none;
    margin-top: 23px;
    display: flex;
    padding: 15px;
}

.tags1 ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 0px 20px;
}


.tags1 ul li {
    position: relative;
    display: block;
    margin: 0 12px;
    /* padding: 6px 0; */
    text-decoration: none;
    /* font-family: "Lato"; */
    cursor: pointer;
    /* font-size: 15px; */
    color: #ecf0f1;
    text-transform: uppercase;
    /* padding: 2px 0; */
    transition: .5s;
}

.tags1 ul li::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #321400;
    transition: transform 0.6s;
    transform: scaleX(0);
    transform-origin: left;
}
.tags2 ul li::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #321400;
    transition: transform 0.6s;
    transform: scaleX(0);
    transform-origin: left;
}

.tags1 ul li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.tags2 ul li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.tags2 ul li {
    position: relative;
    display: block;
    margin: 0 12px;
    /* padding: 6px 0; */
    text-decoration: none;
    /* font-family: "Lato"; */
    cursor: pointer;
    /* font-size: 15px; */
    color: #ecf0f1;
    text-transform: uppercase;
    /* padding: 0px 0; */
    transition: .5s;
}



.pic-logo img {
    /* margin-top: 8px; */
    padding: 10px;
    width: 200px;
}

.tags2 ul {
    margin-top: 23px;
    text-decoration: none;
    list-style: none;
    padding: 15px;
    display: flex;
}

.tags2 ul li a {
    text-transform: uppercase;
    /* font-size: 15px; */
    color: black;
    text-decoration: none;
    padding: 0px 20px;
}

.pic-text {
    margin-top: 30px;
}

.pic {
    position: relative;
    /* position: absolute; */
    display: flex;
    /* align-items: center; */

    justify-content: center;
}

.pic img {
    width: 212.9vh;
    height: 370px;
    filter: brightness(.4);
}

.text {
    position: absolute;
}

.text h1 {
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 70px;
}

.text h2 {
    cursor: pointer;
    color: #ffffff;
    /* line-height: 30px; */
    align-items: center;
    text-decoration: none;
    justify-content: center;
    display: flex;
    margin-top: 40px;
}

.text h2 span a {
    text-decoration: none;
    color: #edb072;
}


/* ==============================================cards=================================== */

.card-heading {
    text-align: center;
    margin-top: 30px;
}

.card-heading h1 {
    font-size: 65px;
    color: #321400;
    letter-spacing: 3px;
    margin-bottom: 80px;
    margin-top: 55px;
    font-family: 'Oswald', sans-serif;

}
.card1 h2{
    color: #331501;

}
.card1 h3{
    color: #331501;

}
.card {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;

}

.card1 {
    width: 250px;
    height: 349px;
    border: 2px solid #e2e2e2;
    box-shadow: 3px 4px 5px 2px rgb(211, 211, 211);
    border-radius: 5px;
    padding: 8px;
    transition: all 0.1s ease;
    text-align: center;
    background-color: rgb(241, 241, 241);

}

.card1:hover {
    /* box-shadow: 2px 2px 2px 2px rgb(201, 201, 201); */
    /* transition: .1s; */
    background-color: #ffffff;
    transform: scale(1.1);
    
}
.card1 img:hover{
    filter: brightness(1);
    /* border-radius: 5px; */

}
.cardd1 {
    text-align: left;
}

.cardd1 p {

    margin: 10PX 0PX;
    color: #8a4e13;

}

#para {
    margin: 5px;
    font-size: 14px;
}

.cardd1 button {
    margin-top: 15px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #572707;
    color: #edb072;

    cursor: pointer;
    font-weight: bold;
}
.card1 img{
    filter: brightness(.8);
    transition: all 0.1s ease;
}
.cardd1 button:hover {
    font-size: 14px;
    transition: .3s;
}


/* =============================================footer================================= */


.footer {
    display: flex;
    justify-content: space-around;
    padding: 15px 30px 15px 10px;
    background-color: #321400;
    color: #c0884f;
    margin-top: 100px;
    /* margin-top: 120px; */
}

.footer-info {
    width: 300px;
    font-size: 17px;
    /* line-height: 10px; */
    /* text-align: center; */
}

.tagss ul {
    display: flex;
    margin-top: 50px;
}

.tagss ul li a {
    text-decoration: none;
    /* height: 25px; */
    padding: 12px;
    border-radius: 70PX;
    margin: 6PX;
    font-size: 30PX;
    color: #321400;
    transition: all .5s ease;
    background-color: #c0884f;
}

.tagss ul li a:hover {
    text-decoration: none;
    padding: 12px;
    border-radius: 50PX;
    margin: 6PX;
    transform: scale(1.1);
    font-size: 30PX;
    color: #331501;
    background-color: #bf762d;
}

.tagss ul li {
    list-style: none;
}

.footer-info h2 {

    margin-bottom: 10px;
    position: relative;
    text-transform: capitalize;
    margin: 35px 0px;
    font-size: 28px;
    font-family: 'Arimo', sans-serif;
}

.footer-info h2::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #c0884f;
    bottom: -7px;
    width: 110px;
    transition: all 0.3s ease;
}

.footer-info button {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    align-items: center;
    margin-left: 51px;
    margin-top: 10px;
    background-color: #c31d7a;
    color: #fff;
}

.footer-info button:hover {
    background-color: black;
    color: white;
    transition: .5s;
    font-weight: bolder;
}

.footer-pages {
    width: fit-content;
    /* border: 2px solid black; */
    text-align: left;

}

.footer-pages a {
    text-decoration: none;
    color: #c0884f;
}

.footer-pages li {
    line-height: 31px;
    list-style: none;
}

.footer-pages h2 {
    font-size: 28px;
    text-transform: capitalize;
    margin: 35px 0px;
    position: relative;
    font-family: 'Arimo', sans-serif;
}

.footer-pages h2::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #c0884f;
    bottom: -9px;
    width: 70px;
    transition: all 0.3s ease;
}

.footer-pages li a:hover {
    padding-left: 8px;
    color: #ffffffff;
}

.footer-pages li a {
    transition: all 0.3s ease;
    line-height: 23px;
}

.footer-contact {
    width: 250px;
    /* border: 2px solid black; */
}

.footer-contact h2 {
    margin: 35px 0px;
    font-family: 'Arimo', sans-serif;
    font-size: 28px;
    text-transform: capitalize;

    position: relative;
}

.footer-contact h2::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #c0884f;
    bottom: -7px;
    width: 125px;
    transition: all 0.3s ease;
}

.footer-contact p {
    padding: 4px;
    line-height: 29px;
}

.footer-support {
    width: fit-content;
    /* border: 2px solid black; */
}

.footer-support h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 28px;
    margin: 35px 0px;
    position: relative;
    text-transform: capitalize;

}

.footer-support h2::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #c0884f;
    bottom: -8px;
    width: 130px;
    transition: all 0.3s ease;

}

.footer-support a {
    text-decoration: none;
    color: #c0884f;
    line-height: 31px;
}

.footer-support li {
    list-style: none;
}

.footer-support li a {
    transition: all 0.3s ease;
}

.footer-support li a:hover {
    padding-left: 8px;
    color: #ffffffff;
}